#ch-header.header-sticky {
  position: sticky;
  top: 0;
  z-index: 999999;
  width: 100%;
}

#ch-header {
  position: relative;
  background-color: #001a96;
  align-items: center;
  z-index: 10;
}

header {
  display: block;
}

ul {
  list-style: inside;
}
